{% extends "base.twig" %}

{% block content %}
	<h1>Admin Panel</h1>

	<a href="./new">New Post</a>

	<hr>

	<form action="./action" method="post" enctype="multipart/form-data">
		<select name="post" placeholder="Select a post">
			{% if posts %}
				<option value="">Select a post</option>
				{% for post in posts %}
					<option value="{{ post.id }}">{{ post.title }}</option>
				{% endfor %}
			{% else %}
				<option value="0">No posts</option>
			{% endif %}
		</select>
	</form>
{% endblock %}