{% extends "base.twig" %}

{% block content %}
	<h1>Admin Panel</h1>

	<a href="{{ config.directory }}/admin/new">New Post</a>

	<hr>

	<form action="edit.php" method="post" enctype="multipart/form-data">
		<select name="post" placeholder="Select a post">
			{% if posts %}
				<option value="">Select a post</option>
				{% for post in posts %}
					<option value="{{ post.id }}">{{ post.title }} ({{ post.id }})</option>
				{% endfor %}
			{% else %}
				<option value="">No posts</option>
			{% endif %}
		</select>
		<input type="submit" value="Edit">
	</form>
{% endblock %}