{% extends "base.twig" %}

{% block content %}
	<h1>Post list</h1>
	{% for page in pages %}
		<div class="post-preview">
			<h1><a href="{{ page.url }}#">{{ page.title }}</a></h1>
			<p>{{ page.desc }}</p>
			<span>Posted on: {{ page.date }}</span>
		</div>
	{% endfor %}
{% endblock %}